<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="BeBolder">
    <meta property="og:image" content="https://www.bebolder.co/generic/uploads/2022/03/logo-Bebolder.svg">
    <meta property="og:description" content="Jira, BeBolder">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#E36205">
    <meta name="keywords" content="Jira, BeBolder">
    <meta name="author" content="Juan David Valencia, Pablo Muñoz Vaca">
    <link rel="icon" href="https://www.bebolder.co/generic/uploads/2022/03/logo-Bebolder.svg" type="image/x-icon">
    <link rel="canonical" href="https://testjira.onrender.com/">

    <meta name="description" content="Servicio para descargar issues de jira">

    <title>BeBolder - Grafana & Jira</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='logic.js') }}"></script>
    <script src="{{ url_for('static', filename='change.js') }}"></script>
    <script src="{{ url_for('static', filename='generate_report.js') }}"></script>
    <script src="{{ url_for('static', filename='uploadSprint.js') }}"></script>
    <script src="{{ url_for('static', filename='reportIssue.js') }}"></script>
    <script src="{{ url_for('static', filename='img.js') }}"></script>

</head>
<body>
    <!-- Contenedor para el logo -->
    <div class="logo-container">
        <img src="https://www.bebolder.co/generic/uploads/2022/03/logo-Bebolder.svg" alt="Logo BeBolder" class="logo">
    </div>

    <div class="container">
        <h1>Generar reporte de issues de jira BeBolder</h1>

        <!-- Pestañas para seleccionar formularios -->
        <div class="tabs">
            <div class="tab active" onclick="showForm(1)">Todas las issues</div>
            <div class="tab" onclick="showForm(2)">Issues por Sprint</div>
        </div>

        <!-- Formulario 1 (Actual) -->
        <div id="formulario1" class="form-container active">
            <form id="formulario">
                <label for="proyecto" class="form-label">Seleccione el proyecto:</label>
                <select id="proyecto" name="proyecto" class="form-select" required>
                    <!-- Las opciones se cargarán aquí mediante JavaScript -->
                </select><br><br>
            
                <label class="form-label">Selecciona los tipos de Issues:</label><br>
                <div class="checkbox-group">
                    <input type="checkbox" id="Epic" name="issueTypes" value="Epic" class="checkbox"> Epica<br>
                    <input type="checkbox" id="Error" name="issueTypes" value="Bug" class="checkbox" checked> Error<br>
                    <input type="checkbox" id="EjecucionScriptsBD" name="issueTypes" value="Ejecución Scripts BD" class="checkbox"> Ejecución Scripts BD<br>
                    <input type="checkbox" id="Gestion" name="issueTypes" value="Gestión" class="checkbox"> Gestión<br>
                    <input type="checkbox" id="Riesgo" name="issueTypes" value="Riesgo" class="checkbox"> Riesgo<br>
                    <input type="checkbox" id="Historia" name="issueTypes" value="Story" class="checkbox" checked> Historia<br>
                    <input type="checkbox" id="Merge" name="issueTypes" value="Merge Request" class="checkbox"> Merge Request<br>
                    <input type="checkbox" id="Mejora" name="issueTypes" value="Mejora" class="checkbox"> Mejora<br>
                    <input type="checkbox" id="NoError" name="issueTypes" value="No Error" class="checkbox"> No Error<br>
                    <input type="checkbox" id="Subtarea" name="issueTypes" value="Sub-task" class="checkbox"> Subtarea<br>
                    <input type="checkbox" id="Tarea" name="issueTypes" value="Task" class="checkbox"> Tarea<br>
                </div>
        
                <button type="button" class="btn" onclick="generarReporte()">Generar Reporte</button>
            </form>
        </div>

        <!-- Formulario 2 (Nuevo) -->
        <div id="formulario2" class="form-container">
            <form id="formulario2">
                <!-- Sección Proyecto -->
                <div class="form-group">
                    <label for="proyecto2" class="form-label">Seleccione el proyecto:</label>
                    <select id="proyecto2" name="proyecto2" class="form-select" required>
                        <option value="">Seleccione un proyecto</option>
                        <!-- Las opciones se cargarán aquí mediante JavaScript -->
                    </select>
                </div>

                <!-- Botón para consultar el sprint por ID -->
                <div class="form-group">
                    <button type="button" onclick="consultarSprint()">Consultar Sprint</button>
                </div>

                <!-- Sección Sprint -->
                <div class="form-group">
                    <label for="sprintSelect" class="form-label">Seleccione el sprint:</label>
                    <select id="sprintSelect" name="sprintSelect" class="form-select" onchange="actualizarCamposSprint()" required>
                        <option value="">Seleccione un sprint</option>
                        <!-- Las opciones serán llenadas dinámicamente con JavaScript -->
                    </select>
                </div>

                <!-- Campos adicionales que muestran información de los sprints -->
                <div class="form-group">
                    <label for="sprintId" class="form-label">ID del Sprint:</label>
                    <input type="text" id="sprintId" class="form-input" disabled placeholder="ID del sprint">
                </div>

                <div class="form-group">
                    <label for="sprintName" class="form-label">Nombre del Sprint:</label>
                    <input type="text" id="sprintName" class="form-input" disabled placeholder="Nombre del sprint">
                </div>

                <div class="form-group">
                    <label for="sprintState" class="form-label">Estado del Sprint:</label>
                    <input type="text" id="sprintState" class="form-input" disabled placeholder="Estado del sprint">
                </div>

                <div class="form-group">
                    <label for="sprintGoal" class="form-label">Objetivo del Sprint:</label>
                    <input type="text" id="sprintGoal" class="form-input" disabled placeholder="Objetivo del sprint">
                </div>

                <button type="button" class="btn" onclick="generarReporte2()">Generar Reporte</button>
            </form>
        </div>


        <!-- Modal para mostrar la imagen -->
        <div id="modalImagen" class="modal">
            <span class="close" onclick="cerrarModal()">&times;</span>
            <img id="imagenGuia" class="modal-content">
        </div>


        <!-- Ventana modal para mostrar las imágenes de guía -->
        <div id="modalImagen" class="modal" style="display:none;">
            <div class="modal-content">
                <span class="close" onclick="cerrarImagen()">&times;</span>
                <img id="imagenGuia" src="" alt="Imagen de guía" style="width:100%; height:auto;">
            </div>
        </div>

        <!-- Loader de carga -->
        <div id="loader" class="loader">
            <img src="https://www.bebolder.co/generic/uploads/2022/03/favicon-Bebolder.png" alt="Cargando..." class="loader-image">
        </div>

        <!-- Texto de carga debajo del loader -->
        <div id="loader-text" class="loader-text" style="display:none;">Estamos descargando la información, no cierres la ventana.</div>

        <!-- Mostrar el tiempo de ejecución -->
        <div id="execution-time" style="display:none;"></div>

        <!-- Enlace para el archivo generado -->
        <div id="file-link" style="display:none;"></div>
    </div>
</body>
</html>
