<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeBolder - Grafa & Jira</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='logic.js') }}"></script>
</head>
<body>
    <h1>Generar Reporte de Issues de Jira</h1>
    <form id="formulario">
        <label for="proyecto">Selecciona el Proyecto:</label>
        <select id="proyecto" name="proyecto" required>
            <!-- Las opciones se cargarán aquí mediante JavaScript -->
        </select><br><br>
    
        <label>Selecciona los tipos de Issues:</label><br>
        <input type="checkbox" id="Epic" name="issueTypes" value="Epic"> Epica<br>
        <input type="checkbox" id="Error" name="issueTypes" value="Bug"> Error<br>
        <input type="checkbox" id="EjecucionScriptsBD" name="issueTypes" value="Ejecución Scripts BD"> Ejecución Scripts BD<br>
        <input type="checkbox" id="Gestion" name="issueTypes" value="Gestión"> Gestión<br>
        <input type="checkbox" id="Riesgo" name="issueTypes" value="Riesgo"> Riesgo<br>
        <input type="checkbox" id="Historia" name="issueTypes" value="Story"> Historia<br>
        <input type="checkbox" id="Merge" name="issueTypes" value="Merge Request"> Merge Request<br>
        <input type="checkbox" id="Mejora" name="issueTypes" value="Mejora"> Mejora<br>
        <input type="checkbox" id="NoError" name="issueTypes" value="No Error"> No Error<br>
        <input type="checkbox" id="Subtarea" name="issueTypes" value="Sub-task"> Subtarea<br>
        <input type="checkbox" id="Tarea" name="issueTypes" value="Task"> Tarea<br>

    
        <button type="button" onclick="generarReporte()">Generar Reporte</button>
    </form>


    <!-- Loader de carga -->
    <div id="loader"></div>

    <!-- Texto de carga debajo del loader -->
    <div id="loader-text" style="display:none;">Estamos descargando la información, no cierres la ventana.</div>

    <!-- Mostrar el tiempo de ejecución -->
    <div id="execution-time" style="display:none;"></div>

    <!-- Enlace para el archivo generado -->
    <div id="file-link" style="display:none;"></div>
</body>
</html>
